.profile {
    min-height: 95vh;
}

.logged-in-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 70rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 710px) {
    .logged-in-container {
        width: 96%;
    }
}

.logged-in__image {
    display: block;
    width: 12rem;
    height: auto;
    margin-top: 2rem;
}

.profile-button-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.profile-button-container button {
    border: none;
    font-family: inherit;
    background: var(--main-background);
    font-size: 1.8rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid var(--main-text-color);
    transition: all 0.3s;
}
