.signup {
    height: 95vh;
}

.sign-up-from-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.sign-up-heading {
    color: var(--main-text-color);
    text-align: center;
    font-weight: 400;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.sign-up-btn {
    width: 100%;
}

.sign-up-btn:disabled {
    background: inherit;
    color: #1010104d;
    cursor: auto;
}
