.wishlist {
    margin: 5rem auto;
    min-height: 80vh;
}

@media only screen and (max-width: 610px) {
    .wishlist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
