.add-new-address {
    width: fit-content;
    background-color: white;
    padding: 2rem;
}

.new-address-input-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--main-text-color);
    font-weight: 400;
}

.new-address-input {
    text-indent: 0;
}

.add-address-btn {
    width: 100%;
}
.add-address-btn:disabled {
    width: 100%;
    background: inherit;
    color: #1010104d;
    cursor: auto;
}
