.empty-cart {
    width: max-content;
    margin: 5rem auto;
    min-height: 90vh;
}

.empty-cart__image {
    display: block;
    width: 15rem;
    height: auto;
}

.link {
    text-decoration: none;
}
