.empty-cart {
    width: max-content;
    padding-top: 10rem;
    height: 95vh;
    margin: 0 auto;
}
.empty-cart__image {
    display: block;
    width: 15rem;
    height: auto;
}

.link {
    text-decoration: none;
}
