.empty-wishlist {
    width: max-content;
    margin: 5rem auto;
    min-height: 60vh;
}
.empty-wishlist__image {
    display: block;
    width: 15rem;
    height: auto;
}

.link {
    text-decoration: none;
}
