.navbar {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.2rem 3rem;
    align-items: center;
}

.navbar__logo {
    letter-spacing: 1px;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    font-weight: 700;
    margin-right: 1.5rem;
}

.navbar__menu {
    display: flex;
    text-decoration: none;
}

.icon-with-badge {
    margin-right: 0;
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 1.2rem 2rem;
    }

    .navbar__menu {
        padding: 0;
    }

    .nav__menu .nav__item:first-child {
        margin-left: auto;
    }
}
