/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-text-light-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-text-color);
}

/* Main Section */
.content {
    display: flex;
}

/* Loader */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
